body {
    font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.4)
}

.overlay_2 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.4)
}

.slides-navigation {
    z-index: 8;
}

.slides-navigation .prev,
.slides-navigation .next {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev {
	left: 20px;
	background-image: url(../img/icons/prevw2.png);
}

.slides-navigation a.next {
	right: 20px;
	background-image: url(../img/icons/nextw2.png);
}


.introSection {
    padding-top: 70px;
    padding-bottom: 50px;
    background: #30336b;
    color: #fff;
}

.aboutImage {
    width:170px;
    height: 170px;
}

.contactButton {
    color: #fff;
    margin-top: 20px;
}

.contactButton:hover {
    text-decoration: none;
    color: #30336b;
    background-color: #fff;
}


.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 8;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading p {
    color: rgb(255, 255, 255);
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 5.4), 0px 2px 5px rgba(0, 0, 0, 5.4), 0px 2px 5px rgba(0, 0, 0, 5.4), 0px 2px 5px rgba(0, 0, 0, 5.4);
    font-weight: 250;
    letter-spacing: 6px;
}

.titleMessage .heading .main {
    font-size: 75px;
}

.titleMessage .heading .sub {
    font-size: 50px;
}

.section {
    padding: 50px 0;
    background-color: #d5d6d8 ;
}


.skillButton {
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 5px;
    border: 1px solid #fff;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: #30336b;
}

.skillButton:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(204, 13, 13, 0.926);
}

.skillsSection,
.contactSection {
    background: #30336b;
    color: #fff;
}

.skill {
    text-align: center;
    margin-left: 10px;
}

.skill-image {
    background-color: transparent;
}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
    color: #000;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after {
    content: '%';
}

.squareItem {
     margin-top: 30px;
     position: relative;
}

.squareInnerContainer {
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid #444;
    border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 2px solid #444; 
}

.squareInnerContainer:before {
    right: 0px;
}

.squareInnerContainer:after {
    left: 0px;
}

.squareContent h2 {
    font-size: 56px;
    margin-bottom: 10px;
    font-size: 400;
    color: #30336b;
}

.squareContent h3 {
    font-size: 13px;
    font-weight: 600;
    margin-top: 0;
}

.squareIcon {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
}

.logo_style {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.skill2 {
    text-align: center;
    margin-left: 10px;
}

.skill2.logo {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.owl-carousel .owl-item img {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lenguages {
    line-height: 1.5;
    padding: initial;
  }
  
.b1 {
    list-style-type: none;
}

.b1:before {
    content: '';

    display: inline-block;
  
    height: 13px;
  
    width: 25px;
  
     background-size: 20px;
  
    background-image: url('../img/spain.gif');
  
    background-repeat: no-repeat;
  
    margin-right: 5px;
  }

.b2 {
    list-style-type: none;
}

.b2:before {
    content: '';

    display: inline-block;
  
    height: 13px;
  
    width: 25px;
  
     background-size: 20px;
  
    background-image: url('../img/uk.gif');
  
    background-repeat: no-repeat;
  
    margin-right: 5px;
  }
  
.b3 {
    list-style-type: none;
}

.b3:before {
    content: '';

    display: inline-block;
  
    height: 13px;
  
    width: 25px;
  
     background-size: 20px;
  
    background-image: url('../img/portugal.gif');
  
    background-repeat: no-repeat;
  
    margin-right: 5px;
  }

.b4 {
    list-style-type: none;
}

.b4:before {
    content: '';

    display: inline-block;
  
    height: 13px;
  
    width: 25px;
  
     background-size: 20px;
  
    background-image: url('../img/netherlands.gif');
  
    background-repeat: no-repeat;
  
    margin-right: 5px;
  }

.post-container {
    margin: 20px 20px 0 0;  
    border:2px solid #333;
    overflow: auto;
    background-color: #30336b;;
    box-sizing: content-box;
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block;
    width: 200px;
    background-color: #fff;
}
.post-content {
    margin-left: 210px;
    color: floralwhite;
}
.post-title {
    font-weight: bold;
    font-size: 200%
}

#mydiv
{
    font-size:200%;
    font-weight: bold;
    color: floralwhite;
}

#mydiv a
{
    font-size:50%;
    font-weight: lighter;
    font-style: italic;
    font-variant: small-caps;
    color: floralwhite;
}

#mytittle
{
    font-size:200%;
    font-weight: bold;
    color: floralwhite;
}

.post-container-title {
    margin: 20px 20px 0 0;  
    border: 5px solid #30336b;;
    overflow: auto;
    background-color: #30336b;;
    box-sizing: content-box;
    border:2px solid #333;
}

.post-content-title {
    color: rgb(255, 255, 255);
    text-align: center;
}

#mydiv-title
{
    font-size:200%;
    font-weight: bold;
}